﻿@charset "utf-8";


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover,
.navbar.navbar-bg-light .navbar-nav > li > a:hover, .navbar.navbar-bg-light .navbar-nav > li > a:focus, /*.navbar.navbar-bg-light .navbar-nav > li > a.active,*/
.navbar.navbar-bg-light .navbar-nav > li > a.highlighted,
.page-links div a:hover, .page-links div a:active, .page-links div a:focus,
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a.active,
.text-color,
.item-box a:hover i,
.inverse i,
.item-box.icons-color i,
.pricing:hover .title,
.pricing:hover .title a,
.process-content:hover .title,
.pricing .price,
.post-meta  i,
.meta i,
.quote blockquote:before,
.quote blockquote:after,
.tweet_time a,
#video-controls a,
.link-hover-color a:hover,
.icons-hover-color i:hover,
.navbar-default .navbar-nav > li.active > a, 
.navbar-default .navbar-nav > li.active > a:focus, 
.navbar-default .navbar-nav > li.active > a:hover,
#page .breadcrumb > .active,
.timeliner li:hover .timeline-heading h4.subheading,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.sitemap li a:hover,
.link-hover-black a:hover,
.icons-hover-black i:hover,
.header-search:hover i,
ul.arrow-style li:before,
.hover:hover,
#fun-factor .fun-icon:before,
a.read-more,
.panel-group.list-style.new .panel .panel-heading > .panel-title:before,
.general-section .nav > li:before,
.general-section .works-filters.nav > li.active,
.general-section.white .nav > li.active,
.general-section .nav > li:hover,
.price,
.star-rating.color .fa,
.special-feature .mask-top:after,
.navbar-default .navbar-nav > li.active > a, 
.navbar-default .navbar-nav > li.active > a:focus, 
.navbar-default .navbar-nav > li.active > a:hover,
.detail-box .icon i,
.contact-info .item-box i,
.has-submenu::after,
.btn-transparent-white:hover,
.btn-transparent-black:hover
{
	color: #6dbf53;
}


/*.top-bar-section.top-bar-bg-color,
.product-count,
.navbar-bg-color,
.top-bar-section.top-bar-bg-color,
.btn-default,
.section-title h1:before,
.section-title h2:before,
.special-feature .mask-top h4:before ,
.s-feature-box:hover .mask-bottom,
.progress-bar,
.owl-prev .fa, .owl-next .fa,
h3.count-number:before,
h2.count-number:before,
.item-box.inverse a:hover i,
.item-number,
.name:before,
.inverse-bg-color i,
.icons-bg-color i,
.bg-color,
.features-list-item:hover i,
.bar,
.pagination > .active > span,
.pagination > .active > span:hover,
.blog.timeliner>li:hover .timeline-image,
.blog.timeliner>li:hover .timeline-icon,
div.count-number:before,
.static-color-icons span,
.team-item .social-icon,
.caption-block,
.image-top-border .service-image:before,
.image-top-border .service-image:after,
.general-section .nav:before,
.navbar-default .navbar-toggle .icon-bar,
.list-border .list-group-item.active, 
.list-border .list-group-item.active:focus, 
.list-border .list-group-item.active:hover,
.list-border.widget a.list-group-item:focus, 
.list-border.widget a.list-group-item:hover,
.image-bg .overlay-color,
.overlay-color,
.work-section .nav.b-color li.active,
.work-section .nav.b-color li:hover,
.mixed-grid .nav.b-color li.active,
.mixed-grid .nav.b-color li:hover
{
	background-color:#6dbf53;
}*/

.dropdown-menu
{
    border-color: #f7f7f7;
}

.desc-border,
.border-color,
.timeliner li:hover .timeline-image,
.pagination > .active > span,
.pagination > .active > span:hover,
.blog.timeliner  >li:hover .timeline-panel,
.slider.border-bottom,
.special-feature .s-feature-box,
.image-top-border img,
#client-list img:hover,
.sidebar  .widget .widget-title .title:after,
.page-wrap .section-title,
.request-quote .container
{
	border-color: #feb600;
}

.bottom-arrow:before{
	border-top-color: #feb600;
}
.rightGrip, 
.leftGrip{
	border-bottom: 10px solid #feb600 !important;
}

.btn-default:hover
{
    background-color:#ffffff;
}
.color-switch .owl-controls .owl-page span,
.tags li a,
.slider-box h2{
 background-color:#6dbf53;
}
.tparrows{
 background-color: rgba(254,182,0,.4) !important;
}
::-moz-selection {
    background: #feb600;
    color: #000000;
    text-shadow: none;
}

::selection {
    background: #feb600;
    color: #a4003a;
    text-shadow: none;
}