﻿.padlfcr
{
    padding-left:4%;
}
.btnsrv {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #6dbf53;
}
.anchr:hover
{
     color: #6dbf53;
}
.greentxt {
    color: #6dbf53;
    font-size: 16px;
}
.page-section {
    padding: 60px 0;
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #ffffff;
}
.qtlr {
    font-size: 24px;
    color: #6dbf53;
}

.fntjs {
    font-size: 16px;
}

.psrcr1 {
    display: none;
}

.htcr1 {
    display: none;
}

.grey {
    color: #777;
    line-height: 1.5;
}

.grey1 {
    color: #999999;
}

.abt-img {
    background-image: url(../img/Matruj_About_BG.jpg);
    background-position: center center;
    background-size: cover;
    height: 760px;
}

.abttxt {
    margin-top: 22%;
}

.fnttm {
    font-size: 20px;
    font-weight: 600;
}

.lrpd {
    padding: 0px 50px;
}
.pdrt
{
    padding-right:0px;
}
.pdlf
{
    padding-left:0px;
}
.parabt {
    font-size: 16px;
    line-height: 1.8;
}

.lnht {
    line-height: 1.5;
}

/*Image overlay*/

.pr1 {
    margin: 4%;
    padding: 0;
    position: relative;
    overflow: hidden;
    background-repeat: repeat;
    cursor: pointer;
    float: left;
}

.pr1 .primg {
    display: block;
    width: 100%;
    height: auto;
    background-size: cover;
}

.info {
    position: absolute;
    width: 300px;
    height: 270px;
    margin: -150px 0 0 -150px;
    border-radius: 100%;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    /* Firefox 4 */
    -webkit-transition: all .5s ease;
    /* Safari and Chrome */
    -o-transition: all .5s ease;
    /* Opera */
    line-height: 300px;
    text-align: left;
}

.info1 {
    position: absolute;
    width: 380px;
    height: 326px;
    margin: -150px 0 0 -150px;
    border-radius: 100%;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    /* Firefox 4 */
    -webkit-transition: all .5s ease;
    /* Safari and Chrome */
    -o-transition: all .5s ease;
    /* Opera */
    line-height: 300px;
    text-align: left;
}

.info2 {
    position: absolute;
    width: 408px;
    height: 345px;
    margin: -150px 0 0 -150px;
    border-radius: 100%;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    /* Firefox 4 */
    -webkit-transition: all .5s ease;
    /* Safari and Chrome */
    -o-transition: all .5s ease;
    /* Opera */
    line-height: 300px;
    text-align: left;
}

.info3 {
    position: absolute;
    width: 380px;
    height: 326px;
    margin: -150px 0 0 -150px;
    border-radius: 100%;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    /* Firefox 4 */
    -webkit-transition: all .5s ease;
    /* Safari and Chrome */
    -o-transition: all .5s ease;
    /* Opera */
    line-height: 300px;
    text-align: left;
}


.infonw {
    position: absolute;
    width: 380px;
    height: 326px;
    margin: -150px 0 0 -141px;
    border-radius: 100%;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    /* Firefox 4 */
    -webkit-transition: all .5s ease;
    /* Safari and Chrome */
    -o-transition: all .5s ease;
    /* Opera */
    line-height: 300px;
    text-align: left;
}
.info p {
    margin: 160px 0 0 160px;
    line-height: 25px;
    font-size: 18px;
    display: inline-block;
    width: 100px;
    font-family: 'Kurale', serif;
    color: #ffffff;
}
.infonw p {
    margin: 160px 0 0 160px;
    line-height: 34px;
    font-size: 27px;
    display: inline-block;
    width: 100px;
    font-family: 'Kurale', serif;
    color: #ffffff;
}
.info1 .txt {
    margin: 190px 0 0 151px;
    line-height: 25px;
    font-size: 18px;
    display: inline-block;
}

.info1 .txt1 {
    margin: 178px 0 0 145px;
    line-height: 25px;
    font-size: 18px;
    display: inline-block;
}

.info2 .txt {
    margin: 190px 0 0 151px;
    line-height: 25px;
    font-size: 18px;
    display: inline-block;
}

.info3 .txt {
    margin: 190px 0 0 151px;
    line-height: 25px;
    font-size: 18px;
    display: inline-block;
}
.brdrtm
{
    position:relative;
}
.brdrtm:after
{
   content : "";
  position: absolute;
  right    : 0;
  z-index: 100;
  top  : 0;
  width  : 2px;
  height   : 70%;  /* or 100px */
  background: #d2d2d2;
}
.green {
    background-color: #379a17 !important;
    opacity: 0.7;
}
.green1 {
   color: #6dbf53;
}
.pr1:hover > .info {
    width: 160%;
    height: 160%;
    visibility: hidden;
}

.pr1:hover > .info1 {
    width: 160%;
    height: 160%;
    visibility: hidden;
}

.pr1:hover > .info2 {
    width: 160%;
    height: 160%;
    visibility: hidden;
}

.pr1:hover > .info3 {
    width: 160%;
    height: 160%;
    visibility: hidden;
}
.pr1:hover > .infonw {
    width: 160%;
    height: 160%;
    visibility: hidden;
}
.popis {
    width: 100%;
    height: 100%;
    padding: 5% 10% 5% 5%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    /* Firefox 4 */
    -webkit-transition: all .5s ease-out;
    /* Safari and Chrome */
    -o-transition: all .5s ease-out;
    /* Opera */
}

.popis h2 {
    font-size: 18px;
    padding-bottom: 5px;
    color: #ffffff;
    font-family: 'Kurale', serif;
    margin-top: 30%;
}

.popis p {
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 5px;
}

.popis1 {
    width: 100%;
    height: 100%;
    padding: 5% 10% 5% 5%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    /* Firefox 4 */
    -webkit-transition: all .5s ease-out;
    /* Safari and Chrome */
    -o-transition: all .5s ease-out;
    /* Opera */
}

.popis1 h2 {
    font-size: 26px;
    padding-bottom: 5px;
    color: #ffffff;
    font-family: 'Kurale', serif;
    margin-top: 30%;
}

.popis1 p {
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 5px;
}


.pr1:hover > .popis {
    visibility: visible;
    opacity: .9;
}
.pr1:hover > .popis1 {
    visibility: visible;
    opacity: .9;
}



/*Image overlay end*/

.padtxt {
    padding: 50px 15px 5px;
}

.imgpos {
    position: absolute;
    top: -15%;
    left: 36%;
}

.brdr {
    border: 3px solid #6dbf53;
}

.brbtm {
    border-bottom: 1px solid #dddddd;
}

.clrtxt {
    color: #6dbf53;
    font-size: 15px;
}

.clrtxt1 {
    color: #6dbf53;
    font-size: 20px;
}

.clrtxt2 {
    color: #6dbf53;
    font-size: 20px;
}

.mrlft {
    margin-left: 12%;
}

.bantxttp {
    margin-top: 5%;
}

.txt {
    margin-top: 21%;
}

.txt1 {
    margin-top: 18%;
}

.alignli {
    display: inline-block;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
}

.tippos {
    position: absolute;
    top: 37%;
    left: 25%;
}

.tippos2 {
    position: absolute;
    top: 37%;
    left: 19%;
}

.tippos3 {
    position: absolute;
    top: 37%;
    left: 16%;
}

.tiphd {
    font-size: 36px;
}

.subhd {
    font-size: 20px;
}

.btntip {
    background-color: #6dbf53;
    border-radius: 24px;
    padding: 5px 36px;
    font-size: 18px;
}

p {
    font-size: 16px;
}

.text-blk {
    color: #333;
}

.bner {
    color: #1c6d03;
}

.read-morez {
    font-size: 18px;
    float: right;
    color: #6dbf53;
}

.product-imgs {
    box-shadow: 3px 7px 7px 3px #555;
}

.topbk {
    color: #fff;
    background-color: #6dbf53;
    border-color: #6dbf53;
}

.banner-heding-left {
    margin: 3% 0 0 35%;
}

.banner-heding-right {
    margin: 5% 50% 0 0;
}

.btmul {
    margin-bottom: 15px;
}

.img-desk {
    display: block;
}

.img-mob {
    display: none;
}

.tipdesk {
    display: block;
}

.tipmob {
    display: none;
}

.bansub {
    font-size: 20px;
    margin-top: 2%;
}

.paratxt {
    font-size: 18px;
}

.paratxt1 {
    font-size: 16px;
}

.padbtm {
    padding-bottom: 4%;
}

.social {
    display: inline-block;
    padding: 0% 3%;
}
.fntwt{
    font-weight:600;
}
.ftrtxt {
    font-size: 16px;
}

.menufnt {
    font-family: 'Varela Round', sans-serif;
}

.hdfnt {
    font-family: 'Kurale', serif;
}

.subfnt {
    font-family: 'Varela Round', sans-serif;
}

.brdr-right:after {
    right: -7px;
    top: 36%;
    content: "";
    height: 20px;
    position: absolute;
    width: 1px;
    background: #ffffff;
}

.brdr-right {
    position: relative;
    margin-right: 15px;
    padding-right: 10px;
}

.padtx {
    padding: 30px 20px;
    line-height: 1.6;
}

.parasz {
    font-size: 18px;
}

.tpflw {
    margin-top: 20px;
}

.circle {
    border-radius: 50%;
    border: 1px solid #333333;
    padding: 25px
}

.marrw {
    margin-top: 3%;
}

.marall {
    margin: 0px 2%;
}

.mrpro {
    margin-top: 2%;
}

.cir {
    width: 8px;
    height: 8px;
    background-color: #333333;
    border-radius: 50%;
    position: absolute;
    top: 92%;
    left: 48%;
}

.tabbable-panel {
    padding: 10px;
}


/* Default mode */

.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}

.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
}

.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
}

.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open > a,
.tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}

.tabbable-line > .nav-tabs > li.open > a > i,
.tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open .dropdown-menu,
.tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}

.tabbable-line > .nav-tabs > li.active {
    border-bottom: 1px solid #d2d2d2;
    position: relative;
}

.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #6dbf53;
}

.tabbable-line > .nav-tabs > li.active > a > .cir {
    border: 0;
    background-color: #6dbf53;
}

.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}

.tabbable-line > .tab-content {
    margin-top: 0px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #d2d2d2;
    padding: 3% 11% 0px;
    text-align: center;
}

.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}


/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 4px solid transparent;
}

.tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
}

.tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-bottom: 0;
    border-top: 4px solid #fbcdcf;
}

.tabbable-line.tabs-below > .nav-tabs > li.active {
    margin-bottom: -2px;
    border-bottom: 0;
    border-top: 4px solid #f3565d;
}

.tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.hdmnt1 {
    color: #FECD14;
    font-size: 26px;
}

.hdmnt2 {
    color: #EF7F30;
    font-size: 26px;
}

.hdmnt3 {
    color: #EA544A;
    font-size: 26px;
}

.hdmnt4 {
    color: #D5B6D8;
    font-size: 26px;
}

.hdmnt5 {
    color: #A1679B;
    font-size: 26px;
}

.hdmnt6 {
    color: #D21880;
    font-size: 26px;
}

.hdmnt7 {
    color: #F3A9BE;
    font-size: 26px;
}

.hdmnt8 {
    color: #F08365;
    font-size: 26px;
}

.hdmnt9 {
    color: #BC232A;
    font-size: 26px;
}

.deskjevn {
    display: block;
}

.mobjevn {
    display: none;
}

.img1 {
    display: block;
}

.img2 {
    display: none;
}

.img3 {
    display: none;
}
.fntadv{
    font-size:20px;
}
.lfmarg
{
    margin-left:15px;
}
.lfmrpg
{
    margin-left:4%;
}
.btnbrdr
{
    position: relative;
    padding:10px;
}
.btnbrdr:after {
  content : "";
  position: absolute;
  right    : 0;
  z-index: 100;
  top  : 0;
  width  : 1px;
  height   : 50%;  /* or 100px */
  background: #6dbf53;
}

.btnbrdr:before {
  content : "";
  position: absolute;
  left    : 87%;
  z-index: 100;
  top  : 0;
  width  : 13%;
  height   : 1px;  /* or 100px */
  background: #6dbf53;
}
.btnbrdr:after {
  content : "";
  position: absolute;
  left  : 0;
  z-index: 100;
  top  : 0;
  width  : 3px;
  height   : 50%;  /* or 100px */
  background: #555;
}
.breadcrumb {
    padding: 8px 0px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif
}

.preghead {
    background-image: url('../img/header-imgs/Matruj-Pc-banner.jpg');
    background-size: cover;
    padding: 50px 50px 0px;
}

.pphead {
    background-image: url('../img/header-imgs/Matruj-Pp-banner.jpg');
    background-size: cover;
    padding: 50px 50px 0px;
}

.healhead {
    background-image: url('../img/header-imgs/Matruj-hc-banner.jpg');
    background-size: cover;
    padding: 50px 50px 0px;
}

.jshead {
    background-image: url('../img/header-imgs/Matruj-js-banner.jpg');
    background-size: cover;
    padding: 50px 50px 0px;
}

.ajshead {
    background-image: url('../img/header-imgs/Matruj-arkjs-banner.jpg');
    background-size: cover;
    padding: 50px 50px 0px;
}

.abthead {
    background-image: url('../img/header-imgs/Matruj-about-banner.jpg');
    background-size: cover;
    padding: 50px 50px 0px;
}

.alprhaed {
    background-image: url('../img/header-imgs/Matruj-product-banner.jpg');
    background-size: cover;
    padding: 50px 50px 0px;
}

.jsphead {
    background-image: url('../img/header-imgs/Matruj-jsplus.jpg');
    background-position: center;
    background-size: cover;
    padding: 50px 50px 0px;
}

.hdhead {
    background-image: url('../img/header-imgs/Matruj-hd-banner.jpg');
    background-position: center;
    background-size: cover;
    padding: 50px 50px 0px;
}

.cntchead {
    background-image: url('../img/header-imgs/Matruj-contact-bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 50px 50px 0px;
}

.abbgimg {
    background-image: url('../img/Matruj-aboutinfo-bg.jpg');
    background-position: center;
    background-size: cover;
}

.heading-text {
    margin-top: 10%;
    float: left;
}


/*Jeevan shatavarin*/

.itemsnw {
    width: 300px;
    height: 281px;
    /*background: #d2d2d2;*/
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
}

.itemsnw p {
    color: white;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    margin-top: 1.175em;
}

.itemsnw {
    position: absolute;
}

.main-pos {
    margin-left: 31em !important;
    z-index: 99;
}

.left-pos {
    opacity: .6;
    margin-left: 6em !important;
    z-index: 9;
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    transform: scale(.75);
}

.back-pos {
    margin-left: 32em !important;
    opacity: .05;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    transform: scale(.5);
}

.right-pos {
    opacity: .6;
    margin-left: 56em !important;
    z-index: 9;
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    transform: scale(.75);
}

.arrows {
    position: relative;
    margin: 0 auto;
    left: 38.5em;
    top: 22em;
}

.link {
    font-size: 18px;
    color: #777777;
    border-bottom: 1px solid #777777;
}

.hdtbl {
    text-align: center;
    font-size: 18px;
    background-color: #6dbf53;
    color: #ffffff;
    font-weight: 100;
}

.indctli {
    font-size: 18px;
    /*list-style-type: disc;*/
      list-style-type: none;
}

.col-indi {
    width: 9%;
    float: left;
    margin-left: 4.33%;
}

.col-indi1 {
    width: 15%;
    float: left;
    margin-left: 4.33%;
}

.col-indipls {
    width: 24%;
    float: left;
    margin-left: 4.33%;
}

.col-indipls1 {
    width: 18.5%;
    float: left;
    margin-left: 4.33%;
}

.col-indipls2 {
    width: 16.5%;
    float: left;
    margin-left: 10%;
}

.col-indipls3 {
    width: 31%;
    float: left;
    margin-left: 16%;
}
.col-indipls3s {
    width:29%;
    float: left;
    margin-left: 14%;
}
.col-indipls3n {
    width: 37%;
    float: left;
    margin-left: 14%;
}

.col-indipls3nw {
    width: 22%;
    float: left;
    margin-left: 8%;
}

.col-indipls3nt {
    width: 14%;
    float: left;
    margin-left: 14%;
}

.col-indipls3t {
    width: 28%;
    float: left;
    margin-left: 31%;
}

.col-indipls3t1 {
    width: 17%;
    float: left;
    margin-left: 14%;
}

.col-indipls3t2 {
    width: 23%;
    float: left;
    margin-left: 28%;
}

.col-indipls3t3 {
    width: 19%;
    float: left;
    margin-left: 14%;
}

.col-plslf {
    width: 23%;
    float: left;
    margin-left: 10%;
}

.listyl {
    list-style-image: url('../img/matruj-tik.png');
}

.listyl1 {
    list-style-type: disc;
}

.mntspl {
    font-size: 22px;
    color: #6dbf53;
}


/*Jeevan shatavarin*/
.crptr
{
    cursor:pointer;
}
.padjevn
{
    padding:5% 0px 20% 0px;
}

#month2 {
    display: none;
}

#month3 {
    display: none;
}

#month4 {
    display: none;
}

#month5 {
    display: none;
}

#month6 {
    display: none;
}

#month7 {
    display: none;
}

#month8 {
    display: none;
}

#month9 {
    display: none;
}

#mon1 {
    display: none;
}

#mon2 {
    display: none;
}

#mon3 {
    display: none;
}

#mon4 {
    display: none;
}

#mon5 {
    display: none;
}

#mon6 {
    display: none;
}

#mon7 {
    display: none;
}

#mon8 {
    display: none;
}

#mon9 {
    display: none;
}

.mobtogl {
    display: none;
}

.tpmrind {
    margin-top: 20px;
}

.tpmrind1 {
    margin-top: 20px;
}


/*Toggle CSS*/

.sidenav {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #6dbf53;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.form-arr {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 7px #ccc;
}

.form-control1 {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px;
    height: 45px;
}

.red {
    color: red
}

.cnctimg {
    background-image: url('../img/Matruj-contact.jpg');
    background-position: 37% 32%;
}
.cntpos {
    position: absolute;
    top: 48%;
    left: 68%;
}
.mobcnt
{
    display:none;
}
/*Toggle CSS END*/

@media only screen and (max-width:1920px) and (min-width:1500px) {
    .cntpos {
        position: absolute;
        top: 52%;
        left: 62.5%;
    }
    .cnctimg {
        background-image: url(../img/Matruj-contact.jpg);
        background-position: 37% 36%;
        background-size: contain;
    }
    .abt-img {
        background-image: url(../img/Matruj_About_BG.jpg);
        background-position: center center;
        background-size: cover;
        height: 1080px;
    }
    .abbgimg {
        background-image: url(../img/Matruj-aboutinfo-bg.jpg);
        background-position: center;
        background-size: cover;
        height: 690px;
    }
    .mt1
    {
        margin-top:8%;
    }
    .abttxt {
        margin-top: 37%;
    }
    
    .mrlft {
        margin-left: 0%;
    }
    .tiphd {
        font-size: 46px;
    }
    .subhd {
        font-size: 26px;
    }
    .tippos {
        position: absolute;
        top: 32%;
        left: 27%;
    }
    .tippos2 {
        position: absolute;
        top: 32%;
        left: 22%;
    }
    .tippos3 {
        position: absolute;
        top: 32%;
        left: 20%;
    }
    .btntip {
        background-color: #6dbf53;
        border-radius: 15px;
        padding: 5px 20px;
        font-size: 26px;
    }
    .nav-tabs > li > a {
        -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
        color: #1e1e1e;
        font-size: 16px;
        padding: 10px 180px 11px;
        -webkit-transition: background-color .2s linear;
        transition: background-color .2s linear;
    }
    .col-indipls3 {
        width: 21%;
        float: left;
        margin-left: 14%;
    }
    .col-indipls3s {
        width: 21%;
        float: left;
        margin-left: 14%;
    }
    .col-indipls3n {
        width: 27%;
        float: left;
        margin-left: 14%;
    }
    .col-indipls3nw {
        width: 15%;
        float: left;
        margin-left: 8%;
    }
    .col-indipls3nt {
        width: 10%;
        float: left;
        margin-left: 14%;
    }
    .col-indipls3t {
        width: 19%;
        float: left;
        margin-left: 25%;
    }
    .col-indipls3t1 {
        width: 13%;
        float: left;
        margin-left: 14%;
    }
    .col-indipls3t2 {
        width: 15%;
        float: left;
        margin-left: 22%;
    }
    .col-indipls3t3 {
        width: 15%;
        float: left;
        margin-left: 14%;
    }
}

@media only screen and (max-width:1280px) and (min-width:1113px) {
    .cntpos {
        position: absolute;
        top: 48%;
        left: 69%;
    }
    .tippos {
        position: absolute;
        top: 36%;
        left: 21.5%;
    }
    .tippos2 {
        position: absolute;
        top: 36%;
        left: 17%;
    }
    .tippos3 {
        position: absolute;
        top: 36%;
        left: 13.5%;
    }
   .abbgimg {
        background-image: url(../img/Matruj-aboutinfo-bg.jpg);
        background-position: center;
        background-size: cover;
        height:506px;
    }
  
    .nav-tabs > li > a {
        -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
        color: #1e1e1e;
        font-size: 19px;
        padding: 10px 92px 11px;
        -webkit-transition: background-color .2s linear;
        transition: background-color .2s linear;
    }
   .col-indipls3 {
        width: 32%;
        float: left;
        margin-left: 17%;
    }
   .col-indipls3s {
        width: 29%;
        float: left;
        margin-left: 14%;
    }
    .col-indipls3n {
        width: 38%;
        float: left;
        margin-left: 14%;
    }
    .col-indipls3t {
        width: 29%;
        float: left;
        margin-left: 32%;
    }
    .col-indipls3t2 {
        width: 23%;
        float: left;
        margin-left: 29%;
    }
   .cnctimg {
        background-image: url(../img/Matruj-contact.jpg);
        background-position: 40% 33%;
    }
   .abthead {
        background-image: url(../img/header-imgs/Matruj-about-banner.jpg);
        background-size: cover;
        padding: 50px 20px 0px;
    }
   .alprhaed {
    background-image: url(../img/header-imgs/Matruj-product-banner.jpg);
    background-size: cover;
    padding: 50px 20px 0px;
}
   .preghead {
    background-image: url(../img/header-imgs/Matruj-Pc-banner.jpg);
    background-size: cover;
    padding: 50px 20px 0px;
}
   .jshead {
    background-image: url(../img/header-imgs/Matruj-js-banner.jpg);
    background-size: cover;
    padding: 50px 20px 0px;
}
   .pphead {
    background-image: url(../img/header-imgs/Matruj-Pp-banner.jpg);
    background-size: cover;
    padding: 50px 20px 0px;
}
   .jsphead {
    background-image: url(../img/header-imgs/Matruj-jsplus.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px 20px 0px;
}
   .healhead {
    background-image: url(../img/header-imgs/Matruj-hc-banner.jpg);
    background-size: cover;
    padding: 50px 20px 0px;
}
   .hdhead {
    background-image: url(../img/header-imgs/Matruj-hd-banner.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px 50px 0px;
}
   .cntchead {
    background-image: url(../img/header-imgs/Matruj-contact-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px 20px 0px;
}
}


@media only screen and (max-width:1112px)
{
    .abttxt {
        margin-top: 26%;
    }
    .tippos2 {
        position: absolute;
        top: 36%;
        left: 12%;
    }
    .tippos3 {
        position: absolute;
        top: 37%;
        left: 9%;
    }
    .tippos {
        position: absolute;
        top: 37%;
        left: 17%;
    }
    .nav-tabs > li > a {
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    color: #1e1e1e;
    font-size: 19px;
    padding: 10px 85px 11px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}
    .padjevn
    {
        padding:5% 0px 27% 0px;
    }
    .main-pos {
        margin-left: 23em !important;
        z-index: 99;
    }
    .right-pos {
        opacity: .6;
        margin-left: 47em !important;
        z-index: 9;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
    }
    .back-pos {
        margin-left: 22em !important;
        opacity: .05;
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        transform: scale(.5);
    }
    .left-pos {
        opacity: .6;
        margin-left: 0em !important;
        z-index: 9;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
    }
    .paratxt1 {
        font-size: 15px;
    }
    .imgpos {
        position: absolute;
        top: -12%;
        left: 36%;
    }
    .parabt {
        font-size: 14px;
        line-height: 1.8;
    }
     .abbgimg {
        background-image: url('../img/Matruj-ai-bg.jpg');
        background-position: center;
        background-size: cover;
    }
     .abtpd
     {
         padding:10px 20px 0px;
     }
     .cnctimg {
        background-image: url(../img/Matruj-contact.jpg);
        background-position: 34% 32%;
    }
     .cntpos {
        position: absolute;
        top: 48%;
        left: 66%;
    }
    .col-indipls3 {
        width: 34%;
        float: left;
        margin-left: 18%;
    }
     .col-indipls3s {
        width: 30%;
        float: left;
        margin-left: 14%;
    }
     .col-indipls3n {
        width: 40%;
        float: left;
        margin-left: 14%;
    }
     .col-indipls3t {
        width: 31%;
        float: left;
        margin-left: 34%;
    }
     .col-indipls3t2 {
        width: 24%;
        float: left;
        margin-left: 31%;
    }
     .col-indipls3t3 {
        width: 20%;
        float: left;
        margin-left: 14%;
    }
}
@media only screen and (max-width:1024px) {
    
      .cnctimg {
        background-image: url(../img/Matruj-contact.jpg);
        background-position: 43%;
        background-size: cover;
    }
   .cntpos {
        position: absolute;
        top: 51%;
        left: 68.5%;
    }
    .paratxt1 {
        font-size: 15px;
    }
    .abbgimg {
        background-image: url('../img/Matruj-ai-bg.jpg');
        background-position: center;
        background-size: cover;
    }
    .mntspl {
        font-size: 18px;
        color: #6dbf53;
    }
    .abt-img {
        background-image: url(../img/Matruj_About_BG.jpg);
        background-position: center center;
        background-size: cover;
        height: 632px;
    }
    .abttxt {
        margin-top: 20%;
    }
    .parasz {
        font-size: 16px;
    }
    h2.heading {
        font-size: 34px;
        text-align: center;
        color: #6dbf53;
        margin-bottom: 0px;
    }
  .imgpos {
        position: absolute;
        top: -13%;
        left: 33.5%;
    }
      .padbtm {
        padding-bottom: 6%;
    }
    #main-slider .description,
    .description.medium {
        font-size: 26px !important;
        font-weight: 300;
        line-height: 30px;
        margin: 0;
    }
    .imgsz {
        width: 140px;
    }
    .mrlft {
        margin-left: 16%;
    }
    .sktp {
        margin-top: 7%;
    }
    .tippos {
        position: absolute;
        top: 36%;
        left: 19%;
    }
    .tippos2 {
        position: absolute;
        top: 36%;
        left: 12%;
    }
    .tippos3 {
        position: absolute;
        top: 36%;
        left: 10%;
    }
    .clrtxt {
        color: #6dbf53;
        font-size: 13px;
    }
    .tiphd {
        font-size: 28px;
    }
    .subhd {
        font-size: 18px;
    }
    .circle {
        border-radius: 50%;
        border: 1px solid #333333;
        padding: 10px;
    }
    .nav-tabs > li > a {
        -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
        color: #1e1e1e;
        font-size: 16px;
        padding: 10px 70px 11px;
        -webkit-transition: background-color .2s linear;
        transition: background-color .2s linear;
    }
    .tabbable-line > .tab-content {
        margin-top: 0px;
        background-color: #fff;
        border: 0;
        border-top: 1px solid #d2d2d2;
        padding: 3% 10% 0px;
        text-align: center;
    }
    .jevnimg {
        width: 175px;
    }
    .info1 {
        position: absolute;
        width: 365px;
        height: 308px;
        margin: -150px 0 0 -150px;
        border-radius: 100%;
        transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        line-height: 300px;
        text-align: left;
    }
    .main-pos {
        margin-left: 24em !important;
        z-index: 99;
    }
    .left-pos {
        opacity: .3;
        margin-left: 0em !important;
        z-index: 9;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
    }
    .back-pos {
        margin-left: 28em !important;
        opacity: .05;
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        transform: scale(.5);
    }
    .right-pos {
        opacity: .3;
        margin-left: 48em !important;
        z-index: 9;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
    }
    .col-indipls {
        width: 30%;
        float: left;
        margin-left: 4.33%;
    }
    .col-indipls1 {
        width: 24.5%;
        float: left;
        margin-left: 4.33%;
    }
    .col-indipls2 {
        width: 20.5%;
        float: left;
        margin-left: 10%;
    }
  .col-indipls3 {
        width: 36%;
        float: left;
        margin-left: 14%;
    }
    .col-indipls3s {
        width: 32%;
        float: left;
        margin-left: 10%;
    }
    .col-indipls3nw {
        width: 24%;
        float: left;
        margin-left: 3%;
    }
    .col-indipls3n {
        width: 43%;
        float: left;
        margin-left: 10%;
    }
    .col-indipls3nt {
        width: 13%;
        float: left;
        margin-left: 10%;
    }
    .col-indipls3t {
        width: 33%;
        float: left;
        margin-left: 33%;
    }
    .col-indipls3t1 {
        width: 20%;
        float: left;
        margin-left: 10%;
    }
    .col-indipls3t2 {
        width: 26%;
        float: left;
        margin-left: 26%;
    }
    .col-indipls3t3 {
        width: 22%;
        float: left;
        margin-left: 10%;
    }
    .mega-menu .dropdown-menu {
        left: 0;
        right: 0;
        max-width: 60% !important;
        min-width: 60% !important;
        padding: 20px 20px;
        margin-left: 40% !important;
    }
    .info2 {
        position: absolute;
        width: 367px;
        height: 324px;
        margin: -150px 0 0 -150px;
        border-radius: 100%;
        transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        line-height: 300px;
        text-align: left;
    }
    .abtpd
     {
         padding:10px 5% 0px;
     }
    .lfmrpg {
        margin-left: 1%;
    }
}

@media only screen and (max-width:960px)
{
     .deskjevn {
        display: none;
    }
    .mobjevn {
        display: block;
    }
    #mon1 {
        display: block;
    }
    .main-pos {
    margin-left: 18em !important;
    z-index: 99;
    }
    .itemsnw {
    width: 275px;
    height: 281px;
    /* background: #d2d2d2; */
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
}
    .right-pos {
    opacity: .3;
    margin-left: 37em !important;
    z-index: 9;
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    transform: scale(.75);
}
    .back-pos {
    margin-left: 16em !important;
    opacity: .05;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    transform: scale(.5);
}
}
@media only screen and (max-width:834px)
{
    h4 {
        font-size: 18px;
        font-weight: 100;
        line-height: 1.7;
        /* text-transform: uppercase; */
        margin: 0;
    }
    .col-indipls3n {
        width: 48%;
        float: left;
        margin-left: 5%;
    }
    .col-indipls3nw {
        width: 27%;
        float: left;
        margin-left: 3%;
    }
    .col-indipls3nt {
        width: 15%;
        float: left;
        margin-left: 5%;
    }
    .col-indipls3t {
        width: 37%;
        float: left;
        margin-left: 36%;
    }
    .col-indipls3t1 {
        width: 20%;
        float: left;
        margin-left: 5%;
    }
    .col-indipls3t2 {
        width: 29%;
        float: left;
        margin-left: 31%;
    }
    .col-indipls3t3 {
        width: 24%;
        float: left;
        margin-left: 5%;
    }
    .col-indi {
        width: 9%;
        float: left;
        margin-left: 17%;
    }
    .col-indi1 {
        width: 21%;
        float: left;
        margin-left: 17%;
    }
    .tpmrind1 {
        margin-top: 12%;
    }

    .tpmrind {
        margin-top: 41%;
    }
    .abttxt {
        margin-top: 22%;
    }   
    .slidpd
    {
        padding:0px 12%;
    }

    .abt-img {
        background-image: url(../img/Matruj_About_BG.jpg);
        background-position: center center;
        background-size: cover;
        height: 539px;
    }
    .mrlft {
        margin-left: 13%;
    }
   .tippos {
        position: absolute;
        top: 34%;
        left: 2%;
    }
       .tippos2 {
        position: absolute;
        top: 34%;
        left: 2%;
    }
       .tippos3 {
        position: absolute;
        top: 34%;
        left: 2%;
    }
       .nav-tabs > li > a {
        -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
        color: #1e1e1e;
        font-size: 16px;
        padding: 10px 57px 11px;
        -webkit-transition: background-color .2s linear;
        transition: background-color .2s linear;
    }
       .padjevn {
        padding: 5% 0px 33% 0px;
    }
       .main-pos {
        margin-left: 16em !important;
        z-index: 99;
    }
       .right-pos {
        opacity: .3;
        margin-left: 36em !important;
        z-index: 9;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
    }
       .back-pos {
        margin-left: 16em !important;
        opacity: .05;
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        transform: scale(.5);
    }
       .left-pos {
        opacity: .3;
        margin-left: -5em !important;
        z-index: 9;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
    }
       .col-indipls3 {
            width: 45%;
            float: left;
            margin-left: 5%;
        }
       .cnctimg {
        background-image: url(../img/Matruj-contact.jpg);
        background-position: 35%;
        background-size: cover;
    }
       .cntpos {
        position: absolute;
        top: 56%;
        left: 65.5%;
    }
  }
@media only screen and (max-width:823px) {
    h2.heading {
        font-size: 30px;
        text-align: center;
        color: #6dbf53;
        margin-bottom: 0px;
    }
    .abttxt {
        margin-top: 22%;
    }
    .mobcnt
    {
        display:block;
    }
    .deskcnt
    {
        display:none;
    }
    .lrpd {
        padding: 0px 30px;
    }
    .clrtxt1 {
        color: #6dbf53;
        font-size: 18px;
    }
    .imgpos {
        position: absolute;
        top: -15%;
        left: 36.5%;
    }
    .tpmr3 {
        margin-top: 10%;
    }
    .tpmrind1 {
        margin-top: 15%;
    }
    .col-indi1 {
        width: 30%;
        float: left;
        margin-left: 10.33%;
    }
    .col-indi {
        width: 15%;
        float: left;
        margin-left: 10.33%;
    }
    .col-indipls {
        width: 35%;
        float: left;
        margin-left: 12.33%;
    }
    .col-indipls1 {
        width: 27.5%;
        float: left;
        margin-left: 12.33%;
    }
    .col-plslf {
        width: 23%;
        float: left;
        margin-left: 20%;
    }
    .col-indipls2 {
        width: 24.5%;
        float: left;
        margin-left: 20%;
    }
   .col-indipls3 {
        width: 37%;
        float: left;
        margin-left: 14%;
    }
    .col-indipls3s {
        width: 32%;
        float: left;
        margin-left: 9%;
    }
    .col-indipls3n {
        width: 43%;
        float: left;
        margin-left: 9%;
    }
    .col-indipls3nw {
        width: 24%;
        float: left;
        margin-left: 3%;
    }
    .col-indipls3nt {
        width: 13%;
        float: left;
        margin-left: 9%;
    }
    .col-indipls3t1 {
        width: 19%;
        float: left;
        margin-left: 9%;
    }
   .col-indipls3t2 {
        width: 26%;
        float: left;
        margin-left: 27%;
    }
    .col-indipls3t {
        width: 33%;
        float: left;
        margin-left: 33%;
    }
    .col-indipls3t3 {
        width: 22%;
        float: left;
        margin-left: 9%;
    }
    h4 {
        font-size: 16px;
        font-weight: 100;
        line-height: 1.7;
        /* text-transform: uppercase; */
        margin: 0;
    }
    .tpmrind {
        margin-top: 26%;
    }
    p {
        font-size: 15px;
    }
    .nav-tabs > li > a {
        -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
        color: #1e1e1e;
        font-size: 20px;
        padding: 10px 70px 11px;
        -webkit-transition: background-color .2s linear;
        transition: background-color .2s linear;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 35px;
    }
    .itemsnw {
        width: 254px;
        height: 281px;
        display: inline-block;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        overflow: hidden;
    }
    .main-pos {
        margin-left: 18em !important;
        z-index: 99;
    }
    .back-pos {
        margin-left: 20em !important;
        opacity: .05;
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        transform: scale(.5);
    }
    .right-pos {
        opacity: .3;
        margin-left: 36em !important;
        z-index: 9;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
    }
    .mrlft {
        margin-left: 0%;
    }
    .abt-img {
        background-image: url(../img/Matruj_About_BG.jpg);
        background-position: center center;
        background-size: cover;
        height: 525px;
    }
     .slidpd
    {
        padding:0px 5%;
    }

    .tippos {
        position: absolute;
        top: 31%;
        left: 15%;
    }
    .tippos2 {
        position: absolute;
        top: 31%;
        left: 9%;
    }
    .tippos3 {
        position: absolute;
        top: 34%;
        left: 6%;
    }
    .subhd {
        font-size: 14px;
    }
    .carousel-control .fa,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        font-size: 34px;
        height: 30px;
        margin-top: -15px;
        width: 30px;
    }
    .is-sticky .navbar-brand img {
        vertical-align: middle;
        width: 100px;
    }
    .imgsz {
        width: 120px;
    }
    .cnctimg {
        background-image: url(../img/Matruj-contact.jpg);
        background-position: 35%;
        background-size: cover;
    }
   .cntpos {
        position: absolute;
        top: 64%;
        left: 67%;
    }
   .abbgimg {
        background-image: none;
    }
   .infonw p {
        margin: 160px 0 0 160px;
        line-height: 30px;
        font-size: 23px;
        display: inline-block;
        width: 100px;
        font-family: 'Kurale', serif;
        color: #ffffff;
    }
   .infonw {
        position: absolute;
        width: 321px;
        height: 280px;
        margin: -150px 0 0 -141px;
        border-radius: 100%;
        transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        line-height: 300px;
        text-align: left;
    }
   .popis1 h2 {
        font-size: 23px;
        padding-bottom: 5px;
        color: #ffffff;
        font-family: 'Kurale', serif;
        margin-top: 30%;
    }
   .lfmrpg {
        margin-left: 30px;
    }
}

@media only screen and (max-width:812px) {
    .tpmr3 {
        margin-top: 10%;
    }
    .tippos {
        position: absolute;
        top: 31%;
        left: 15%;
    }
    .tippos2 {
        position: absolute;
        top: 31%;
        left: 10%;
    }
    .tippos3 {
        position: absolute;
        top: 31%;
        left: 6%;
    }
    .subhd {
        font-size: 14px;
    }
    .col-indipls {
        width: 36%;
        float: left;
        margin-left: 12.33%;
    }
    .col-indipls2 {
        width: 25.5%;
        float: left;
        margin-left: 20%;
    }
    .col-indipls3n {
        width: 44%;
        float: left;
        margin-left: 9%;
    }
    .col-indipls3s {
        width: 33%;
        float: left;
        margin-left: 9%;
    }
    .col-indipls3nw {
        width: 25%;
        float: left;
        margin-left: 3%;
    }
    .col-indipls3t {
        width: 34%;
        float: left;
        margin-left: 33%;
    }
    .col-indipls3t2 {
        width: 27%;
        float: left;
        margin-left: 27%;
    }
}

@media only screen and (max-width:768px) {
    .slidpd {
        padding: 0px 10%;
    }
   .cntpos {
        position: absolute;
        top: 63%;
        left: 68%;
    }
    .imgpos {
        position: absolute;
        top: -14%;
        left: 35.5%;
    }
   .cnctimg {
        background-image: url(../img/Matruj-contact-res.jpg);
        background-position: 53%;
        background-repeat: no-repeat;
        background-size: cover;
    }
  
    .alprhaed {
        background-image: url(../img/header-imgs/Matruj-product-banner.jpg);
        background-size: cover;
        padding: 50px 15px 0px;
        background-position: 50%;
    }
    .jsphead {
        background-image: url('../img/header-imgs/Matruj-jsplus.jpg');
        background-position: center;
        background-size: cover;
        padding: 50px 15px 0px;
    }
    .hdhead {
        background-image: url('../img/header-imgs/Matruj-hd-banner.jpg');
        background-position: center;
        background-size: cover;
        padding: 50px 15px 0px;
    }
    .cntchead {
        background-image: url('../img/header-imgs/Matruj-contact-bg.jpg');
        background-position: center;
        background-size: cover;
        padding: 50px 15px 0px;
    }
    .healhead {
        background-image: url(../img/header-imgs/Matruj-hc-banner.jpg);
        background-size: cover;
        padding: 50px 15px 0px;
        background-position: 50%;
    }
    .abt-img {
        background-image: url(../img/Matruj_About_BG.jpg);
        background-position: center center;
        background-size: cover;
        height: 497px;
    }
    .abttxt {
        margin-top: 18%;
    }
    .tpmr3 {
        margin-top: 9%;
    }
    .mrlft {
        margin-left: 6%;
    }
    #main-slider .description,
    .description.medium {
        font-size: 20px !important;
        font-weight: 300;
        line-height: 30px;
        margin: 0;
    }
   .tippos {
        position: absolute;
        top: 32%;
        left: 8%;
    }
    .tippos2 {
        position: absolute;
        top: 32%;
        left: 2%;
    }
    .tippos3 {
        position: absolute;
        top: 32%;
        left: 2%;
    }
    .tiphd {
        font-size: 24px;
    }
    .subhd {
        font-size: 14px;
    }
    .clrtxt {
        color: #6dbf53;
        font-size: 13px;
    }
    .carousel-control .fa,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        font-size: 34px;
        height: 30px;
        margin-top: -15px;
        width: 30px;
    }
    .btntip {
        background-color: #6dbf53;
        border-radius: 15px;
        padding: 5px 16px;
        font-size: 16px;
    }
    .marall {
        margin: 0px 4%;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 12px;
    }
    .navbar-nav > li > a {
        line-height: 50px;
        font-size: 16px;
    }
    .circle {
        border-radius: 50%;
        border: 1px solid #333333;
        padding: 18px;
    }
    .mrcir {
        margin-top: 20px;
    }
    .nav-tabs > li > a {
        -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
        color: #1e1e1e;
        font-size: 16px;
        padding: 10px 38px 11px;
        -webkit-transition: background-color .2s linear;
        transition: background-color .2s linear;
    }
    .tabbable-line > .tab-content {
        margin-top: 0px;
        background-color: #fff;
        border: 0;
        border-top: 1px solid #d2d2d2;
        padding: 3% 5% 0px;
        text-align: center;
    }
    .tppro {
        margin-top: 5%;
    }
    p {
        font-size: 14px;
    }
    .jevnimg {
        width: 150px;
    }
    .info1 {
        position: absolute;
        width: 338px;
        height: 290px;
        margin: -150px 0 0 -150px;
        border-radius: 100%;
        transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        line-height: 300px;
        text-align: left;
    }
    .info3 {
        position: absolute;
        width: 308px;
        height: 275px;
        margin: -150px 0 0 -150px;
        border-radius: 100%;
        transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        line-height: 300px;
        text-align: left;
    }
    .info3 .txt {
        margin: 172px 0 0 151px;
        line-height: 25px;
        font-size: 18px;
        display: inline-block;
    }
    .parasz {
        font-size: 16px;
    }
    .col-indi {
        width: 27%;
        float: left;
        margin-left: 9.33%;
    }
    .col-indi1 {
        width: 35%;
        float: left;
        margin-left: 9.33%;
    }
    h4 {
        /*font-size: 18px;*/
        font-size: 16px;
    }
    .main-pos {
        margin-left: 18em !important;
        z-index: 99;
    }
    .left-pos {
        opacity: .3;
        margin-left: 0em !important;
        z-index: 9;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
    }
    .back-pos {
        margin-left: 14em !important;
        opacity: .05;
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        transform: scale(.5);
    }
    .right-pos {
        opacity: .3;
        margin-left: 36em !important;
        z-index: 9;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
    }
    .itemsnw {
        width: 250px;
        height: 250px;
        display: inline-block;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        overflow: hidden;
    }
    .col-indipls {
        width: 30%;
        float: left;
        margin-left: 9.33%;
    }
    .col-indipls1 {
        width: 24.5%;
        float: left;
        margin-left: 9.33%;
    }
    .col-indipls2 {
        width: 22.5%;
        float: left;
        margin-left: 15%;
    }
    .col-plslf {
        width: 23%;
        float: left;
        margin-left: 14.8%;
    }
    .tpmrind {
        margin-top: 27.1%;
    }
    .tpmrind1 {
        margin-top: 10%;
    }
    .col-indipls3 {
        width: 39%;
        float: left;
        /*margin-left: 10%;*/
        margin-left: 18%;
    }
    .col-indipls3n {
        width: 47%;
        float: left;
        margin-left: 9.8%;
    }
    .col-indipls3nw {
        width: 27%;
        float: left;
        margin-left: 3%;
    }
    .col-indipls3nt {
        width: 14%;
        float: left;
        margin-left: 10%;
    }
    .col-indipls3t {
        width: 36%;
        float: left;
        margin-left: 35%;
    }
    .col-indipls3t1 {
        width: 20%;
        float: left;
        margin-left: 10%;
    }
    .col-indipls3t2 {
        width: 28%;
        float: left;
        margin-left: 29%;
    }
    .col-indipls3t3 {
        width: 23%;
        float: left;
        margin-left: 10%;
    }
    .col-indi {
        width: 17%;
        float: left;
        margin-left: 14.33%;
    }
    .col-indi1 {
        /*width: 29%;*/
         width: 25%;
        float: left;
        margin-left: 14.33%;
    }
    .hdmnt1 {
        color: #FECD14;
        font-size: 22px;
    }
    .hdmnt2 {
        color: #EF7F30;
        font-size: 22px;
    }
    .hdmnt3 {
        color: #EA544A;
        font-size: 22px;
    }
    .hdmnt4 {
        color: #D5B6D8;
        font-size: 22px;
    }
    .hdmnt5 {
        color: #A1679B;
        font-size: 22px;
    }
    .hdmnt6 {
        color: #D21880;
        font-size: 22px;
    }
    .hdmnt7 {
        color: #F3A9BE;
        font-size: 22px;
    }
    .hdmnt8 {
        color: #F08365;
        font-size: 22px;
    }
    .hdmnt9 {
        color: #BC232A;
        font-size: 22px;
    }
    .mega-menu .dropdown-menu {
        left: 0;
        right: 0;
        max-width: 63% !important;
        min-width: 63% !important;
        padding: 20px 20px;
        margin-left: 30% !important;
    }
    .parabt {
        font-size: 12px;
        line-height: 1.8;
    }
    .preghead {
        background-image: url(../img/header-imgs/Matruj-Pc-banner.jpg);
        background-size: cover;
        padding: 50px 15px 0px;
    }
    .jshead {
        background-image: url(../img/header-imgs/Matruj-js-banner.jpg);
        background-size: cover;
        padding: 50px 15px 0px;
    }
    .ajshead {
        background-image: url(../img/header-imgs/Matruj-arkjs-banner.jpg);
        background-size: cover;
        padding: 50px 15px 0px;
    }
    .pphead {
        background-image: url(../img/header-imgs/Matruj-Pp-banner.jpg);
        background-size: cover;
        padding: 50px 15px 0px;
    }
    .abthead {
        background-image: url('../img/header-imgs/Matruj-about-banner.jpg');
        background-size: cover;
        padding: 50px 15px 0px;
        background-position: 70%;
    }
    .jevnimg {
        width: 128px;
    }
    .info2 {
        position: absolute;
        width: 324px;
        height: 293px;
        margin: -150px 0 0 -150px;
        border-radius: 100%;
        transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        line-height: 300px;
        text-align: left;
    }
    .lfmrpg {
        margin-left: 5%;
    }
}

@media only screen and (max-width:767px) {
    .mobtogl {
        font-size: 30px;
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 5px 16px;
    }
     .pdrt {
        padding-right: 15px;
    }
     .pdlf {
        padding-left: 15px;
    }
}

@media only screen and (max-width:736px) {
    .col-indipls3n {
        width: 41%;
        float: left;
        margin-left: 14%;
    }
    .col-indi1 {
        width: 21%;
        float: left;
        margin-left: 17.33%;
    }
    .col-indi {
        width: 11%;
        float: left;
        margin-left: 17.33%;
    }
    .nav-tabs > li > a {
        -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
        color: #1e1e1e;
        font-size: 16px;
        padding: 10px 36px 11px;
        -webkit-transition: background-color .2s linear;
        transition: background-color .2s linear;
    }
   .col-indipls3 {
        width: 34%;
        float: left;
        margin-left: 17%;
    }
    .col-indipls3s {
        width: 31%;
        float: left;
        margin-left: 14%;
    }
    .col-indipls3nw {
        width: 23%;
        float: left;
        margin-left: 7%;
    }
    .col-indipls3nt {
        width: 13%;
        float: left;
        margin-left: 14%;
    }
    .col-indipls3t {
        width: 31%;
        float: left;
        margin-left: 35%;
    }
    .col-indipls3t1 {
        width: 17%;
        float: left;
        margin-left: 14%;
    }
    .col-indipls3t2 {
        width: 25%;
        float: left;
        margin-left: 31%;
    }
    .col-indipls3t3 {
        width: 20%;
        float: left;
        margin-left: 14%;
    }
    .mobtogl {
        font-size: 30px;
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 6px 16px;
    }
    h4 {
        font-size: 15px;
    }
    .lrpad {
        padding: 10px 8%;
    }
    .col-pad {
        width: 50%;
    }
   
    .imgpos {
        position: absolute;
        top: -28%;
        left: 40%;
    }
    .tpmr2 {
        margin-top: 10%;
    }
    .tippos {
        position: absolute;
        top: 31%;
        left: 6%;
    }
   .tippos2 {
        position: absolute;
        top: 31%;
        left: 1%;
    }
   .tippos3 {
        position: absolute;
        top: 31%;
        left: 2%;
    }
    .itemsnw {
        width: 235px;
        height: 250px;
        display: inline-block;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        overflow: hidden;
    }
    .lflemr
    {
        margin-left:25%;
    }
    .cnctimg {
        background-image: url(../img/Matruj-contact-res.jpg);
        background-position: 49%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .cntpos {
        position: absolute;
        top: 63%;
        left: 70%;
    }
    .lfmrpg {
        margin-left: 29%;
    }
    .back-pos {
        margin-left: 18em !important;
        opacity: .05;
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        transform: scale(.5);
    }
}

@media only screen and (max-width:667px) {

    .mntspl {
        font-size: 15px;
        color: #6dbf53;
    }
    .lrpad {
        padding: 0px 10%;
    }
    .abt-img {
        background-image: url(../img/Matruj_About_BG.jpg);
        background-position: center center;
        background-size: cover;
        height: 425px;
    }
    .abttxt {
        margin-top: 20%;
    }
    h2.heading {
        font-size: 26px;
        text-align: center;
        color: #6dbf53;
        margin-bottom: 0px;
    }
    .parasz {
        font-size: 12px;
    }
    .tpmr3 {
        margin-top: 10%;
    }
    .tpmr2 {
        margin-top: 10%;
    }
    .tpmr1 {
        margin-top: 10%;
    }
   .imgpos {
        position: absolute;
        top: -19%;
        left: 42.5%;
    }
    .transparent-header .navbar.navbar-bg-light .navbar-nav > li > a {
        color: #333333;
    }
   .tippos {
        position: absolute;
        top: 30%;
        left: 5%;
    }
    .tippos2 {
        position: absolute;
        top: 30%;
        left: 9%;
    }
    .tippos2 {
        position: absolute;
        top: 31%;
        left: 1%;
    }
    .btntip {
        background-color: #6dbf53;
        border-radius: 15px;
        padding: 5px 16px;
        font-size: 16px;
    }
    .subhd {
        font-size: 13px;
    }
    .clrtxt1 {
        color: #6dbf53;
        font-size: 16px;
    }
    #main-slider .description,
    .description.medium {
        font-size: 19px !important;
        font-weight: 300;
        line-height: 30px;
        margin: 0;
    }
    .carousel-caption {
        bottom: auto;
        left: 36%;
        position: absolute;
        right: 7%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 0;
    }
    .bansub {
        font-size: 16px;
        margin-top: 1%;
    }
    .mrbt1 {
        margin-bottom: 8%;
    }
    .marall {
        margin: 0px;
    }
    .col-nw {
        width: 33.33%;
    }
    .circle {
        border-radius: 50%;
        border: 1px solid #333333;
        padding: 32px;
    }
    .mrcir {
        margin-top: 20px;
    }
    .nav-tabs > li > a {
        -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
        color: #1e1e1e;
        font-size: 16px;
        padding: 10px 28px 11px;
        -webkit-transition: background-color .2s linear;
        transition: background-color .2s linear;
    }
    .col-pad {
        width: 50%;
    }
    .tppro {
        margin-top: 7%;
    }
    .info1 .txt {
        margin: 175px 0 0 151px;
        line-height: 25px;
        font-size: 18px;
        display: inline-block;
    }
    .info1 .txt1 {
        margin: 167px 0 0 145px;
        line-height: 25px;
        font-size: 18px;
        display: inline-block;
    }
    .info1 {
        position: absolute;
        width: 315px;
        height: 266px;
        margin: -150px 0 0 -150px;
        border-radius: 100%;
        transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        line-height: 300px;
        text-align: left;
    }
    .jevnimg {
        width: 130px;
    }
    .link {
        font-size: 14px;
        color: #777777;
        border-bottom: 1px solid #777777;
    }
    .itemsnw {
        width: 200px;
        height: 200px;
        display: inline-block;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        overflow: hidden;
    }
    .main-pos {
        margin-left: 16em !important;
        z-index: 99;
    }
    .left-pos {
        opacity: .3;
        margin-left: 2em !important;
        z-index: 9;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
    }
    .back-pos {
        margin-left: 16em !important;
        opacity: .05;
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        transform: scale(.5);
    }
    .right-pos {
        opacity: .3;
        margin-left: 30em !important;
        z-index: 9;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
    }
    /*.deskjevn {
        display: none;
    }
    .mobjevn {
        display: block;
    }
    #mon1 {
        display: block;
    }*/
    .mrt {
        margin-right: 0px;
    }
    .pdlfrt {
        padding-left: 0px;
        padding-right: 0px;
    }
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .overlay-content {
        position: relative;
        top: 15%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
   .cnctimg {
        background-image: url(../img/Matruj-contact-res.jpg);
        background-position: 39%;
        background-repeat: no-repeat;
        background-size: cover;
    }
  .cntpos {
        position: absolute;
        top: 68%;
        left: 69.5%;
    }
   .infonw p {
        margin: 160px 0 0 160px;
        line-height: 26px;
        font-size: 18px;
        display: inline-block;
        width: 100px;
        font-family: 'Kurale', serif;
        color: #ffffff;
    }
   .infonw {
        position: absolute;
        width: 296px;
        height: 263px;
        margin: -150px 0 0 -141px;
        border-radius: 100%;
        transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        line-height: 300px;
        text-align: left;
    }
   .popis1 h2 {
        font-size: 18px;
        padding-bottom: 5px;
        color: #ffffff;
        font-family: 'Kurale', serif;
        margin-top: 30%;
    }
}

@media only screen and (max-width:640px) {
    .ajshead {
        background-image: url(../img/header-imgs/Matruj-arkjs-banner.jpg);
        background-size: cover;
        padding: 50px 15px 0px;
        background-position: 50%;
    }
    .abt-img {
        background-image: url(../img/Matruj_About_BG.jpg);
        background-position: center center;
        background-size: cover;
        height: 402px;
    }
    .abttxt {
        margin-top: 18%;
    }
    .circle {
        border-radius: 50%;
        border: 1px solid #333333;
        padding: 28px;
    }
    .col-nw {
        width: 33.33%;
    }
    .brdrtm:after
    {
       display:none;
    }
   
   
     .padbtm {
        padding-bottom: 0%;
    }
    .nav-tabs > li > a {
        -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
        color: #1e1e1e;
        font-size: 16px;
        padding: 10px 24px 11px;
        -webkit-transition: background-color .2s linear;
        transition: background-color .2s linear;
    }
    .main-pos {
        margin-left: 15.5em !important;
        z-index: 99;
    }
    .left-pos {
        opacity: .3;
        margin-left: 1em !important;
        z-index: 9;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
    }
    .back-pos {
        margin-left: 16em !important;
        opacity: .05;
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        transform: scale(.5);
    }
    .right-pos {
        opacity: .3;
        margin-left: 30em !important;
        z-index: 9;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
    }
    .imgsz {
        width: 110px;
    }
    .cntpos {
        position: absolute;
        top: 69%;
        left: 69.5%;
    }
}


@media only screen and (max-width:480px)
{
    .cnctimg {
        background-image: none;
    }
    .col-mb {
        width: 100%;
    }
    .col-pad{
        width:100%;
    }
    .lflemr {
        margin-left: 0%;
    }
     .mobcnt
   {
       display:none;
   }
    .deskcnt
    {
        display:none;
    }
    .tiphd {
        font-size: 21px;
    }
    .tippos {
        position: absolute;
        top: 24%;
        left: 5%;
    }
    .tippos2 {
        position: absolute;
        top: 24%;
        left: 1%;
    }
    .tippos3 {
        position: absolute;
        top: 24%;
        left: 2%;
    }
}
@media only screen and (max-width:420px) {
    .preghead {
        background-image: url(../img/header-imgs/Matruj-Pc-banner.jpg);
        background-size: cover;
        padding: 50px 15px 0px;
        background-position: 50%;
    }
    .pphead {
        background-image: url(../img/header-imgs/Matruj-Pp-banner.jpg);
        background-size: cover;
        padding: 50px 15px 0px;
        background-position: 50%;
    }
    .abt-img {
        background-image: url(../img/Matruj_About_BG_Resp.jpg);
        background-position: center center;
        background-size: cover;
        height: 362px;
    }
    .paratxt1 {
        font-size: 14px;
    }
    .tpmr3 {
        margin-top: 15%;
    }
    .tpmr2 {
        margin-top: 15%;
    }
    .tpmr1 {
        margin-top: 15%;
    }
    .pochwid {
        width: 130px;
    }
   .imgpos {
        position: absolute;
        top: -16%;
        left: 39%;
    }
    .imgsz {
        width: 85px;
    }
    .img-desk {
        display: none;
    }
    .img-mob {
        display: block;
    }
    .tipdesk {
        display: none;
    }
    .tipmob {
        display: block;
    }

    .tippos {
        position: absolute;
        top: 29%;
        left: 0%;
    }
    .tippos2 {
        position: absolute;
        top: 29%;
        left: 3%;
    }
    .tippos3 {
        position: absolute;
        top: 29%;
        left: 0%;
    }
    .ftrtxt {
        font-size: 14px;
    }
    .clrtxt2 {
        color: #6dbf53;
        font-size: 18px;
    }
    .tiphd {
        font-size: 20px;
    }
    .subhd {
        font-size: 14px;
    }
    .fntadv {
            font-size: 17px;
        }
    .indctli {
        font-size: 16px;
        list-style-type: disc;
    }
    .lrpd {
        padding: 0px 24px;
    }
  
    .btntip {
        background-color: #6dbf53;
        border-radius: 15px;
        padding: 5px 16px;
        font-size: 14px;
    }
    .breadcrumb {
        padding: 8px 0px;
        list-style: none;
        border-radius: 4px;
        font-size: 14px;
        font-family: 'Varela Round', sans-serif
    }
    .entry-title,
    .post-title {
        font-size: 20px;
        font-weight: 600;
        margin: 0 0 17px;
        margin-bottom: 0px;
        font-family: 'Varela Round', sans-serif
    }
    h4 {
        font-size: 16px;
        font-weight: 100;
        line-height: 1.7;
        margin: 0;
    }
    h2.heading {
        font-size: 24px;
        text-align: center;
    }
    #main-slider .description,
    .description.medium {
        font-size: 16px !important;
        font-weight: 300;
        line-height: 30px;
        margin: 0;
    }
    .bansub {
        font-size: 14px;
        margin-top: 1%;
    }
    .carousel-caption {
        bottom: auto;
        left: 41%;
        position: absolute;
        right: 7%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 0;
    }
    .bantxttp {
        margin-top: 2%;
    }
    .paratxt {
        font-size: 14px;
    }
    .padtxt {
        padding: 50px 30px 4px;
    }
    .page-section {
        padding: 40px 0;
        display: block;
        overflow: hidden;
        position: relative;
        width: 100%;
        background: #ffffff;
    }
    .padbtm {
        padding-bottom: 10px;
    }
    .marall {
        margin: 0px;
    }
    .mrcir {
        margin-top: 20px;
    }
    .mrcir1 {
        margin-top: 20px;
    }
    .circle {
        border-radius: 50%;
        border: 1px solid #333333;
        padding: 32px;
    }
    .col-nw {
        width: 50%;
    }
    .tppro {
        margin-top: 7%;
    }
    .col-pad {
        width: 100%;
    }
    .tppro1 {
        margin-top: 7%;
    }
    p {
        font-size: 13px;
    }
    .parasz {
        font-size: 12px;
    }
    .link {
        font-size: 12px;
        color: #777777;
        border-bottom: 1px solid #777777;
    }
    .itemsnw {
        width: 140px;
        height: 140px;
        display: inline-block;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        overflow: hidden;
    }
    .main-pos {
        margin-left: 10em !important;
        z-index: 99;
    }
    .left-pos {
        opacity: .3;
        margin-left: 0em !important;
        z-index: 9;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
    }
    .back-pos {
        margin-left: 8em !important;
        opacity: .05;
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        transform: scale(.5);
    }
    .right-pos {
        opacity: .3;
        margin-left: 20em !important;
        z-index: 9;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
    }
    .overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
   .col-mb
   {
       width:100%;
   }
  
    .carousel-control .fa, .carousel-control .icon-prev, .carousel-control .icon-next {
        font-size: 26px;
        height: 30px;
        margin-top: -15px;
        width: 30px;
    }
    .fntjs {
    font-size: 14px;
}
}

@media only screen and (max-width:375px) {
    .abttxt {
        margin-top: 14%;
    }
    .abt-img {
        background-image: url(../img/Matruj_About_BG_Resp.jpg);
        background-position: center center;
        background-size: cover;
        height: 355px;
    }
    .tpmr3 {
        margin-top: 18%;
    }
    .tpmr2 {
        margin-top: 18%;
    }
    .tpmr1 {
        margin-top: 18%;
    }
   .imgpos {
        position: absolute;
        top: -16%;
        left: 37%;
    }
    .tiphd {
        font-size: 18px;
    }
    .subhd {
        font-size: 13px;
    }
    .btntip {
        background-color: #6dbf53;
        border-radius: 15px;
        padding: 5px 16px;
        font-size: 13px;
    }
    #main-slider .description,
    .description.medium {
        font-size: 14px !important;
        font-weight: 300;
        line-height: 30px;
        margin: 0;
    }
    .bansub {
        font-size: 12px;
        margin-top: 1%;
    }
    .carousel-caption {
        bottom: auto;
        left: 42%;
        position: absolute;
        right: 7%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 0;
    }
    .tippos2 {
        position: absolute;
        top: 31%;
        left: 0%;
    }
    .tippos3 {
        position: absolute;
        top: 31%;
        left: 0%;
    }
    .circle {
        border-radius: 50%;
        border: 1px solid #333333;
        padding: 22px;
    }
    .itemsnw {
        width: 120px;
        height: 120px;
        display: inline-block;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        overflow: hidden;
    }
    .main-pos {
        margin-left: 9em !important;
        z-index: 99;
    }
    .left-pos {
        opacity: .3;
        margin-left: 0em !important;
        z-index: 9;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
    }
    .back-pos {
        margin-left: 8em !important;
        opacity: .05;
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        transform: scale(.5);
    }
    .right-pos {
        opacity: .3;
        margin-left: 18em !important;
        z-index: 9;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
    }
    .hdtbl {
        text-align: center;
        font-size: 14px;
        background-color: #6dbf53;
        color: #ffffff;
        font-weight: 100;
    }
    .panel-group .panel-heading + .panel-collapse .panel-body {
        border-top: 0 none;
        padding: 10px 22px;
        border-bottom: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
    }
    .overlay-content {
        position: relative;
        top: 7%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 16px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .entry-title,
    .post-title {
        font-size: 18px;
        font-weight: 600;
        margin: 0 0 17px;
        margin-bottom: 0px;
        font-family: 'Varela Round', sans-serif
    }
    .breadcrumb {
        padding: 8px 0px;
        list-style: none;
        border-radius: 4px;
        font-size: 13px;
        font-family: 'Varela Round', sans-serif
    }
}

@media only screen and (max-width:360px) {
    .hdmnt1 {
        color: #FECD14;
        font-size: 20px;
    }
    .hdmnt2 {
        color: #EF7F30;
        font-size: 20px;
    }
    .hdmnt3 {
        color: #EA544A;
        font-size: 20px;
    }
    .hdmnt4 {
        color: #D5B6D8;
        font-size: 20px;
    }
    .hdmnt5 {
        color: #A1679B;
        font-size: 20px;
    }
    .hdmnt6 {
        color: #D21880;
        font-size: 20px;
    }
    .hdmnt7 {
        color: #F3A9BE;
        font-size: 20px;
    }
    .hdmnt8 {
        color: #F08365;
        font-size: 20px;
    }
    .hdmnt9 {
        color: #BC232A;
        font-size: 20px;
    }
    .abttxt {
        margin-top: 11%;
    }
    .lfmarg {
        margin-left: 9%;
    }
    .abt-img {
        background-image: url(../img/Matruj_About_BG_Resp.jpg);
        background-position: center center;
        background-size: cover;
        height: 338px;
    }
    .breadcrumb {
        padding: 8px 0px;
        list-style: none;
        border-radius: 4px;
        font-size: 12px;
        font-family: 'Varela Round', sans-serif
    }
   .imgpos {
        position: absolute;
        top: -14%;
        left: 36%;
    }
    .btntip {
        background-color: #6dbf53;
        border-radius: 15px;
        padding: 5px 16px;
        font-size: 12px;
    }
    .circle {
        border-radius: 50%;
        border: 1px solid #333333;
        padding: 18px;
    }
    .panel-group .panel-heading + .panel-collapse .panel-body {
        border-top: 0 none;
        padding: 8px;
        border-bottom: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
    }
    .main-pos {
        margin-left: 8.8em !important;
        z-index: 99;
    }
    .right-pos {
        opacity: .3;
        margin-left: 17.5em !important;
        z-index: 9;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
    }
    .slidpd {
        padding: 0px 12%;
    }
    .tiphd {
        font-size: 16px;
    }
}

@media only screen and (max-width:320px) {
    .jevnimg {
        width: 115px;
    }
    .clrtxt2 {
        color: #6dbf53;
        font-size: 17px;
    }
    .info3 .txt {
        margin: 163px 0 0 151px;
        line-height: 25px;
        font-size: 18px;
        display: inline-block;
    }
    .info3 {
        position: absolute;
        width: 288px;
        height: 247px;
        margin: -150px 0 0 -150px;
        border-radius: 100%;
        transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        line-height: 300px;
        text-align: left;
    }
    .fntadv {
        font-size: 15px;
    }
    .indctli {
        font-size: 14px;
        list-style-type: disc;
    }
    .lfmarg {
        margin-left: 6%;
    }
    .abt-img {
        background-image: url(../img/Matruj_About_BG_Resp.jpg);
        background-position: center center;
        background-size: cover;
        height: 315px;
    }
    .parasz {
        font-size: 11px;
    }
    .panel-group .panel-heading + .panel-collapse .panel-body {
        border-top: 0 none;
        padding: 12px 18px;
        border-bottom: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
    }
    .mntspl {
        font-size: 12px;
        color: #6dbf53;
    }
    h4 {
        font-size: 13px;
        font-weight: 100;
        line-height: 1.7;
        margin: 0;
    }
    .padtxt {
        padding: 50px 20px 30px;
    }
    .imgpos {
        position: absolute;
        top: -13%;
        left: 33%;
    }
    .carousel-caption {
        bottom: auto;
        left: 36%;
        position: absolute;
        right: 7%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 0;
    }
    .tiphd {
        font-size: 14px;
    }
    .subhd {
        font-size: 12px;
    }
    .circle {
        border-radius: 50%;
        border: 1px solid #333333;
        padding: 8px;
    }
    .main-pos {
        margin-left: 7.8em !important;
        z-index: 99;
    }
    .right-pos {
        opacity: .3;
        margin-left: 15.5em !important;
        z-index: 9;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75);
    }
    .itemsnw {
        width: 105px;
        height: 105px;
        display: inline-block;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        overflow: hidden;
    }
    .entry-title,
    .post-title {
        font-size: 16px;
        font-weight: 600;
        margin: 0 0 17px;
        margin-bottom: 0px;
        font-family: 'Varela Round', sans-serif
    }
    .imgsz {
        width: 72px;
    }
     .page-section {
        padding: 24px 0;
        display: block;
        overflow: hidden;
        position: relative;
        width: 100%;
        background: #ffffff;
    }
}